/*-----------------------------------------------------------------
- Buttons
-----------------------------------------------------------------*/
#{$button-selector}{
	cursor: pointer;
	display: inline-block;
	outline: 0;
	height: $button-height;
	border: $button-border;
	vertical-align: middle;
	background: $button-bg;
	color: $button-color;
	font-weight: $button-font-weight;
	font-size: $button-font-size;
	font-family: $button-font-family;
	line-height: $button-line-height;
	padding: $button-padding-y $button-padding-x;
	text-transform: none;
	text-shadow: none;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	border-radius: $button-border-radius;
	box-shadow: $button-shadow;
	user-select: none;
	transition: $button-transition;
	will-change: '';
	-webkit-tap-highlight-color: transparent;
	white-space: nowrap;
	text-align: center;

	// Hover
	&:hover {
		background: darken($button-bg, 1%);
		border-color: darken($button-border-color, 5%);
	}

	// Active
	&:active, &.active {
		box-shadow: $button-shadow-active;
	}

	// Focus
	&:focus, &.focus{
		outline: 0;
	}

	// Disable
	&:disabled, &.disabled {
		opacity: $button-disabled-opacity;
		cursor: $button-disabled-cursor;
		pointer-events: none;
		box-shadow: none;
	}

	// Colors
	//------------------------------------------------
	@each $color, $value in $colors{
		&.#{$color}{
			background: $value;
			border-color: darken($value, 8%);

			@if (lightness($value) > 80) {
				color: $button-color;
			} @else {
				color: #fff;
			}

			&:hover{
				background: darken($value, 5%);
			}
		}
	}
	// Socials
	@each $social, $value in $socials{
		&.#{$social}{
			background: $value;
			border-color: darken($value, 8%);
			color: #ffffff;

			&:hover{
				background: darken($value, 5%);
			}
		}
	}

	// Alt
	//------------------------------------------------
	&.alt{
		background: none !important;
		color: $button-color;
		box-shadow: none;

		@each $color, $value in $colors{
			&.#{$color}{
				border-color: $value;
				color: $value;

				&:hover{
					border-color: darken($value, 10%);
					color: darken($value, 10%);
				}
			}
		}
	}

	// Inverted
	//------------------------------------------------
	&.inverted{
		background: none;
		color: $button-color;
		box-shadow: none;

		&:hover{
			color: #ffffff;
			border-color: $button-color;
			background: $button-color;
		}

		@each $color, $value in $colors{
			&.#{$color}{
				border-color: $value;
				@if (lightness($value) > 80) {
					color: darken($value, 30%);
				} @else {
					color: $value;
				}

				&:hover{
					@if (lightness($value) > 80) {
						color: darken($value, 30%);
					} @else {
						color: #fff;
					}
					background: $value;
				}
				&:active{
					background: darken($value, 5%);
				}
			}
		}
	}
	
	// Block
	//------------------------------------------------
	&.block{
		display: block;
		width: 100%;
	}
	
	// Rounded
	//------------------------------------------------
	&.rounded{
		border-radius: $button-height/2;
	}

	// Sizes
	//------------------------------------------------
	&.xs {
		height: $button-xs-height;
		font-weight: $button-xs-font-weight;
		font-size: $button-xs-font-size;
		padding: $button-xs-padding-y $button-xs-padding-x;

		&.circular{
			width: $button-xs-height !important;
		}
		&.rounded{
			border-radius: $button-xs-height/2;
		}
		[class^="icon-"], [class*=" icon-"]{
			font-size: $button-xs-font-size;
		}
		&.wide{
			padding: $button-xs-padding-y $button-wide-xs-padding-x;
		}
	}
	&.sm {
		height: $button-sm-height;
		font-size: $button-sm-font-size;
		line-height: $button-sm-line-height;
		padding: $button-sm-padding-y $button-sm-padding-x;

		&.circular{
			width: $button-sm-height !important;
		}
		&.rounded{
			border-radius: $button-sm-height/2;
		}
		[class^="icon-"], [class*=" icon-"]{
			font-size: $button-sm-font-size;
		}
		&.wide{
			padding: $button-sm-padding-y $button-wide-sm-padding-x;
		}
	}
	&.lg {
		height: $button-lg-height;
		font-size: $button-lg-font-size;
		line-height: $button-lg-line-height;
		padding: $button-lg-padding-y $button-lg-padding-x;

		&.circular{
			width: $button-lg-height !important;
		}
		&.rounded{
			border-radius: $button-lg-height/2;
		}
		[class^="icon-"], [class*=" icon-"]{
			font-size: $button-lg-font-size;
		}
		&.wide{
			padding: $button-lg-padding-y $button-wide-lg-padding-x;
		}
	}
}