<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bozorg Examples</title>

    <link rel="stylesheet" href="css/bozorg.css">

    <style>
        section{
            margin: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid #e7e7e7;
        }
        .color-box{
            width: 15%;
            height: 60px;
            display: inline-block;
            margin: 5px;
            border-radius: 3px;
        }
        .grid-box{
            background: #E3F2FD;
            padding: 15px;
            text-align: center;
            border-radius: 3px;
            margin-bottom: 10px;
        }
    </style>

</head>
<body>

    <section>
        <h1>Buttons</h1>
        <button class="button xs">Test Button</button>
        <button class="button sm">Test Button</button>
        <button class="button">Test Button</button>
        <button class="button lg">Test Button</button>
    </section>

    <section>
        <h1>Grid</h1>
        <div class="row">
            @@for (var i = 0; i < 12; i++) {
                <div class="col-sm-1"><div class="grid-box">1</div></div>
            }
        </div>
        <div class="row">
            @@for (var i = 0; i < 6; i++) {
                <div class="col-sm-2"><div class="grid-box">2</div></div>
            }
        </div>
        <div class="row">
            @@for (var i = 0; i < 4; i++) {
            <div class="col-sm-3"><div class="grid-box">3</div></div>
            }
        </div>
        <div class="row">
            @@for (var i = 0; i < 3; i++) {
            <div class="col-sm-4"><div class="grid-box">4</div></div>
            }
        </div>
        <div class="row">
            @@for (var i = 0; i < 2; i++) {
            <div class="col-sm-6"><div class="grid-box">6</div></div>
            }
        </div>
        <div class="row">
            <div class="col-sm-12"><div class="grid-box">12</div></div>
        </div>
        <h3>Row spacing</h3>
        <h4>XS</h4>
        <div class="row xs">
            @@for (var i = 0; i < 4; i++) {
            <div class="col-sm-3"><div class="grid-box">3</div></div>
            }
        </div>
        <h4>SM</h4>
        <div class="row sm">
            @@for (var i = 0; i < 4; i++) {
            <div class="col-sm-3"><div class="grid-box">3</div></div>
            }
        </div>
        <h4>LG</h4>
        <div class="row lg">
            @@for (var i = 0; i < 4; i++) {
            <div class="col-sm-3"><div class="grid-box">3</div></div>
            }
        </div>
        <h4>XLG</h4>
        <div class="row xlg">
            @@for (var i = 0; i < 4; i++) {
            <div class="col-sm-3"><div class="grid-box">3</div></div>
            }
        </div>
    </section>

    <section>
        <h1>Colors</h1>
        @@for (var i = 0; i < colors.length; i++) {
        <div class="color-box bg-`+colors[i]+`-lightest"></div>
        <div class="color-box bg-`+colors[i]+`-lighter"></div>
        <div class="color-box bg-`+colors[i]+`-light"></div>
        <div class="color-box bg-`+colors[i]+`"></div>
        <div class="color-box bg-`+colors[i]+`-dark"></div>
        <div class="color-box bg-`+colors[i]+`-darker"></div>
        <br>
        }
    </section>

    <section>
        <h1>Typography</h1>
        <h1>Heading 1 <small>small heading</small></h1>
        <h2>Heading 2 <small>small heading</small></h2>
        <h3>Heading 3 <small>small heading</small></h3>
        <h4>Heading 4 <small>small heading</small></h4>
        <h5>Heading 5 <small>small heading</small></h5>
        <h6>Heading 6 <small>small heading</small></h6>

        <p>Lorem ipsum <a href="#">dolor sit amet</a>, consectetur adipisicing elit. Aliquam eaque earum id illo illum magni modi nesciunt, optio placeat quia repellat, sed sint totam? Autem culpa id itaque molestiae quaerat.</p>

        <a href="#">Test link</a>

        <strong>Strong</strong><b>Bold</b><mark>Mark</mark>

        <code>Code test</code>

        <div class="h1">With h1 class</div>
        <div class="h2">With h1 class</div>
        <div class="h3">With h1 class</div>
        <div class="h4">With h1 class</div>
        <div class="h5">With h1 class</div>
        <div class="h6">With h1 class</div>
    </section>

</body>
</html>